{% extends 'base.html.twig' %}

{% block title %}CGU AliExprass !{% endblock %}

{% block body %}

{{ include("partials/title_section.html.twig", {'name':'Conditions Générales d\'Utilisation'})}}

<div class="container">
    <h1 class="text-center">Conditions Générales d'Utilisation du site AliExprass </h1>

    <p class="text-justify">
        Consequat elit aute sunt incididunt reprehenderit minim ex. Excepteur et deserunt magna tempor officia velit non labore commodo. Veniam nulla et quis laboris consequat aute ipsum.
        Ullamco sunt consequat commodo sunt deserunt id quis minim officia excepteur. Esse cupidatat officia aliquip anim qui amet aliquip nisi ex est officia proident qui. 
        Veniam fugiat aliquip ipsum quis enim sunt fugiat. Labore ipsum qui deserunt ex nulla dolore proident dolor sunt adipisicing ullamco.
        Consequat elit aute sunt incididunt reprehenderit minim ex. Excepteur et deserunt magna tempor officia velit non labore commodo. Veniam nulla et quis laboris consequat aute ipsum.
        Ullamco sunt consequat commodo sunt deserunt id quis minim officia excepteur. Esse cupidatat officia aliquip anim qui amet aliquip nisi ex est officia proident qui. 
        Veniam fugiat aliquip ipsum quis enim sunt fugiat. Labore ipsum qui deserunt ex nulla dolore proident dolor sunt adipisicing ullamco.
        Consequat elit aute sunt incididunt reprehenderit minim ex. Excepteur et deserunt magna tempor officia velit non labore commodo. Veniam nulla et quis laboris consequat aute ipsum.
        Ullamco sunt consequat commodo sunt deserunt id quis minim officia excepteur. Esse cupidatat officia aliquip anim qui amet aliquip nisi ex est officia proident qui. 
        Veniam fugiat aliquip ipsum quis enim sunt fugiat. Labore ipsum qui deserunt ex nulla dolore proident dolor sunt adipisicing ullamco.
        Consequat elit aute sunt incididunt reprehenderit minim ex. Excepteur et deserunt magna tempor officia velit non labore commodo. Veniam nulla et quis laboris consequat aute ipsum.
        Ullamco sunt consequat commodo sunt deserunt id quis minim officia excepteur. Esse cupidatat officia aliquip anim qui amet aliquip nisi ex est officia proident qui. 
        Veniam fugiat aliquip ipsum quis enim sunt fugiat. Labore ipsum qui deserunt ex nulla dolore proident dolor sunt adipisicing ullamco.
        Consequat elit aute sunt incididunt reprehenderit minim ex. Excepteur et deserunt magna tempor officia velit non labore commodo. Veniam nulla et quis laboris consequat aute ipsum.
        Ullamco sunt consequat commodo sunt deserunt id quis minim officia excepteur. Esse cupidatat officia aliquip anim qui amet aliquip nisi ex est officia proident qui. 
        Veniam fugiat aliquip ipsum quis enim sunt fugiat. Labore ipsum qui deserunt ex nulla dolore proident dolor sunt adipisicing ullamco.
    </p>
</div>
{% endblock %}
